<div class="ui segments">
  <div class="ui segment client-header">
    <div class="left-side">
      <div class="client-image"><img src="https://picsum.photos/200"
                                     alt="image"></div>
      <div class="client-info">
        <div class="name"><b>ლევან ბეროშვილი</b></div>
        <div class="client-key"><span class="label">უნიკალური კოდი:</span><b
          class="value">255</b></div>
      </div>
    </div>
    <div class="right-side">
      <div class="actives">
        <div class="active"><span class="label">აქტივები:</span><b
          class="value money">3460.00</b><b class="ccy">GEL</b></div>
        <div class="active"><span class="label">Plus:</span><b
          class="value">20</b><span class="ccy"></span></div>
      </div>
      <div class="logout-button">
        <button class="ui red button">გასვლა</button>
      </div>
    </div>
  </div>
  <div class="ui horizontal segments navigation">
    <a routerLinkActive="active" [routerLink]="'/krn/krnicp'" class="ui segment page-link">მთავარი</a><a
    routerLinkActive="active" [routerLink]="'/krn/accounts'"
    class="ui segment page-link">ანგარიშები</a>
    <a routerLinkActive="active" [routerLink]="'/krn/operations'"
       class="ui segment page-link">ოპერაციები</a>
  </div>
</div>



