<div  class="ui segments client-search">
  <div  class="ui segment">
    <h1 >კლიენტის ძებნა</h1>
  </div>
  <div  class="ui segment">
    <form  novalidate="" class="ui bordered form segment ng-untouched ng-pristine ng-valid">
      <div  class="ui three column grid">
        <div  class="column">
          <div  class="field"><label  for="firstName">სახელი</label><input
             type="text" formcontrolname="firstName" id="firstName"
            class="ng-untouched ng-pristine ng-valid"></div>
        </div>
        <div  class="column">
          <div  class="field"><label  for="lastName">გვარი</label><input
             type="text" formcontrolname="lastName" id="lastName"
            class="ng-untouched ng-pristine ng-valid"></div>
        </div>
        <div  class="column">
          <div  class="field"><label  for="clientKey">კლიენტის
            უნიკალური</label><input  type="number" formcontrolname="clientKey" id="clientKey"
                                    class="ng-untouched ng-pristine ng-valid"></div>
        </div>
      </div>
      <div  class="search-btn">
        <button  type="submit" class="ui right-aligned orange button"> ძებნა</button>
      </div>
    </form><!----><!----></div>
</div>
