<div class="ui segments client-search">
  <div  class="ui segment">
    <h1>კლიენტის ძებნა</h1>
  </div>
  <div  class="ui segment">
    <form  novalidate="" class="ui bordered form segment ng-untouched ng-pristine ng-valid" [formGroup]="form" >
      <div  class="ui three column grid">
        <div  class="column">
          <div  class="field"><label  for="firstName">სახელი</label><input
             type="text" formControlName="firstName" id="firstName"
            class="ng-untouched ng-pristine ng-valid"></div>
        </div>
        <div  class="column">
          <div  class="field"><label  for="lastName">გვარი</label><input
             type="text" formcontrolname="lastName" id="lastName"
            class="ng-untouched ng-pristine ng-valid"></div>
        </div>
        <div  class="column">
          <div  class="field"><label  for="clientKey">კლიენტის
            უნიკალური</label><input  type="number" formcontrolname="clientKey" id="clientKey"
                                    class="ng-untouched ng-pristine ng-valid"></div>
        </div>
      </div>
      <div  class="search-btn">
        <button type="submit" class="ui right-aligned orange button" (click)="onFetchClients()">ძებნა</button>
      </div>
      <ng-container *ngIf="(clients$ | async) as clients">
        <div class="table-header">
          <span>კლიენტები</span>
          <div class="ui icon buttons">
            <button class="ui icon button " routerLink="/bpm/bpm001">
              <i class="plus icon"></i>
            </button>
          </div>

        </div>

        <table>
          <thead>
          <th>სახელი</th>
          <th>გვარი</th>
          <th>კლიენტის უნიკალური</th>
          </thead>
          <tbody>
          <tr class="client" *ngFor="let client of clients" (click)="clientClick(client)">
            <td>{{client.firstName}}</td>
            <td>{{client.lastName}}</td>
            <td>{{client.clientKey}}</td>
          </tr>
          </tbody>
        </table>

      </ng-container>
    </form>
  </div>
</div>
