<form novalidate="" class="ui segments client-registration ng-untouched ng-pristine ng-invalid">
  <div class="ui segment"><h1>კლიენტის რეგისტრაცია</h1></div>
  <div class="ui segment">
    <div class="ui form">
      <div class="ui fields">
        <div class="nine wide field"><label
          for="firstName">სახელი</label><input
          type="text" formcontrolname="firstName" id="firstName"
          class="ng-untouched ng-pristine ng-invalid">
        </div>
      </div>
      <div class="ui fields">
        <div class="nine wide field"><label
          for="lastName">გვარი</label><input
          type="text" formcontrolname="lastName" id="lastName"
          class="ng-untouched ng-pristine ng-invalid">
        </div>
      </div>
      <div class="ui fields">
        <div class="nine wide field"><label for="plusPoints">Plus
          ქულები</label><input type="number" formcontrolname="plusPoints" id="plusPoints"
                               class="ng-untouched ng-pristine ng-invalid">
        </div>
      </div>
    </div>
  </div>
  <div class="ui segment">
    <button type="submit" class="ui orange button"> რეგისტრაცია</button>
  </div>
</form>
