<form class="ui segments ng-untouched ng-pristine ng-invalid">
  <div class="ui segment"><h1>ანგარიშის შექმნა</h1></div>
  <div class="ui segment">
    <div class="ui form">
      <div class="ui fields">
        <div class="nine wide field"><label for="accountName">ანგარიშის
          სახელი</label><input formcontrolname="accountName" type="text" id="accountName"
                               class="ng-untouched ng-pristine ng-invalid">
        </div>
      </div>
      <div class="ui fields">
        <div class="nine wide field">
          <label for="amount">თანხა</label><input
          formcontrolname="amount" type="number" id="amount"
          class="ng-untouched ng-pristine ng-invalid">
        </div>
      </div>
    </div>
  </div>
  <div class="ui segment">
    <button type="submit" class="ui orange button"> შექმნა</button>
  </div>
</form>
