<div class="ui segments accounts">
  <div class="ui segment"><h1>ანგარიშები</h1></div>
  <div class="ui segment">
    <div class="ui segments">
      <div class="table-header"><span>ანგარიშები</span>
        <button routerLink="/krn/accounts/create" class="ui icon button" tabindex="0"><i
          class="plus icon"></i></button>
      </div>
      <table>
        <div> ჩანაწერი არ მოიძებნა</div>
        <tbody>

        </tbody>
      </table>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
